.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
}

.main-render--container {
  width: 100%;
  height: 100%;
}

.main-render--container > section > div {
  padding-top: 0 !important;
  /* width: 30% !important; */
  margin: auto;
  display: flex;
  justify-content: center;
}

.main-render--container > section > div > video {
  border: 4px double #226015;
  box-sizing: content-box !important;
  height: max-content !important;
  width: 25% !important;
  position: relative !important;
  border-radius: 50% !important;
}

.-bgCian {
  background-color: var(--main-color);
}

.-bgWhite{
  background-color: #FFF;
}

#main-table--URL-QRCodeList {
  margin: auto;
}

.-buttonLinkGenerated {
  font-family: 'Press Start 2P', cursive;
  border: 4px double black;
  padding: .2rem;
  font-size: .8rem;
  border-radius: 10px;
  background-color: #64ff1e;
  cursor: pointer;
}