* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  --main-fontFamily: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
  --main-color: #226015 !important;
  --second-color: #000 !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #200a1c;
  padding-top: 4rem;

}

section {
  margin-top: 1rem;
}

table {
  font-family: var(--main-fontFamily);
}

td {
  font-size: 1.1rem;
}

table, tr{
  border: 4px double #226015;
}

td {
  padding: .3rem;
}